* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 6px 24px;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

.hero-Main {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 100px 200px;
}


.hero-Secondary, .header-Link {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
}


.hero-content {
    max-width: 50%;

}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.image-placeholder{
    width: 100%;
    height: 200px;
    background-color: #969696;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #E5E7EB;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 200px;
}

.box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.info-title{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin-bottom: 20px;
}


.rounded-box{
    border: 3px solid #3882F6;
    border-radius: 8px;
    padding: 10px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box{
    width: 120px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
}
.text-box p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-author{
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
}

.cta-container{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 40px 200px;
    margin: 50px 0;
}

.cta-banner{
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    border-radius: 8px;
}
.cta-title{
    font-size: 24px;
}

.cta-text{
    font-size: 18px;
    color: #E5E7EB;
}

.cta-button{
    border: 2px solid #F9FAF8;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}